.content {
    box-sizing: border-box;
    width: 80%;
    float: left;
    background-color: #1d86ba;
    border-radius: 10px; /* Добавляем округление углов */
    height: 100vh;
}

.inner-content {
    color: #ffffff;
}