.header {
    /* width: 100%; */
    margin-bottom: 10px;
    border-radius: 10px; /* Добавляем округление углов */
    overflow: hidden; /* Обрезаем округленные углы, чтобы они были видны */
    background-color: #1d86ba;
    border-radius: 10px; /* Добавляем округление углов */
}

.inner-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
}

.vkc-icon {
    color: aliceblue;
    padding-left: 20px;
    font-family: 'Arial', sans-serif; /* Выбираем красивый шрифт */
    font-size: 24px; /* Устанавливаем размер шрифта */
}

.sign-profile {
    color: aliceblue;
    padding-right: 20px;
    text-decoration: none; /* Убираем подчеркивания у ссылок */
    font-family: 'Arial', sans-serif; /* Выбираем красивый шрифт */
    font-size: 24px; /* Устанавливаем размер шрифта */
}
