<div class="bg-light py-2">  
  <div class="container bg-light">
    <div class="row">
      <div class="col">
          <a class="navbar-brand" href="#">
              <img src="assets/Group 1.svg" width="30" height="30" class="d-inline-block align-top" alt="">
              VKCopy
          </a>
      </div>
      <div class="col">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      </div>
      <div class="col text-end">
          <button class="btn btn-outline-success" type="submit">Search</button>
      </div>
    </div>
  </div>
</div>