.news {
    box-sizing: border-box;
    width: 80%;
    float: left;
    padding-left: 10px;
    background-color: #1d86ba;
    border-radius: 10px; /* Добавляем округление углов */
    padding: 15px;
    height: 100vh;
}

.inner-news {
    color: #ffffff;
}