<div class="" style="height: 100vh;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 link-dark text-decoration-none">
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-">
      <li class="nav-item">
        <a href="profile" class="nav-link active">
          <img src="assets/profile.svg" width="30" height="30" class="d-inline-block align-top" alt="">
          Профиль
        </a>
      </li>
      <li>
        <a href="news" class="nav-link link-dark">
          <img src="assets/news.svg" width="30" height="30" class="d-inline-block align-top" alt="">
          Новости
        </a>
      </li>
      <li>
        <a href="message" class="nav-link link-dark">
          <img src="assets/message.svg" width="30" height="30" class="d-inline-block align-top" alt="">
          Сообщения
        </a>
      </li>
      <li>
        <a href="settings" class="nav-link link-dark">
          <img src="assets/settings.svg" width="30" height="30" class="d-inline-block align-top" alt="">
          Настройки
        </a>
      </li>
    </ul>
    <hr>
  </div>