.message {
    box-sizing: border-box;
    width: 80%;
    float: left;
    padding-left: 10px;
}

.inner-message {
    height: 100vh;
    color: #ffffff;
    background-color: #1d86ba;
    padding: 15px;
    border-radius: 10px; /* Добавляем округление углов */
}