.profile {
    box-sizing: border-box;
    width: 80%;
    float: left;
    height: 100vh;
    border-radius: 10px; /* Добавляем округление углов */
    background-color: #1d86ba;
    border-radius: 10px; /* Добавляем округление углов */
    padding: 15px;
    height: 100vh;
}

.avatar-profile {
    color: #ffffff;
}